.container {
    display: flex;
    padding-bottom: 300px;
    padding-left: 400px;
    justify-content: top;
    align-items: center;
    height: 100vh;
}

.box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.send-forgot-pass-mail-btn {
    background-color: green;
    color: #fff;
    margin-top: 10px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}