<div class="container">
    <div class="box">
        <span class="title">Forgot your password?</span>
        <span class="title1">Your password will be reset by email.</span>
        <label for="email" class="emailLabel">Enter your email address</label>
        <input type="email" class="emailInput" id="email" name="email" aria-describedby="email" [(ngModel)]="email">
        <button class="btn" (click)="forgotPasswordMail()">Next</button>
        <a href="login" class="title2">Back to log in</a>
    </div>
</div>