<mat-toolbar [ngClass]="mode==='dark' ? 'mat-toolbar-dark' : 'mat-toolbar-light'">
    <button mat-icon-button class="example-icon" (click)="menuBtn()" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <div class="menu-container">
        <div class="menu-items" *ngIf="menuOpen">
            <div *ngFor="let todo of todos">
                <button (click)="menuItemClicked(todo['taskId'])">{{todo['taskLabel']}}</button>
            </div>
        </div>
    </div>

    <span>TasksBoard</span>
    <span class="example-spacer"></span>
    <mat-radio-button [checked]="mode==='dark'" (click)="darkMode()">Dark</mat-radio-button>
    <mat-radio-button [checked]="mode==='light'" (click)="lightMode()">Light</mat-radio-button>
</mat-toolbar>