.example-spacer {
    flex: 2 1 auto;
}

.mat-toolbar-dark {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    color: white;
}

.mat-toolbar-light {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    color: rgb(23, 138, 138);
}

.menu-items {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 8px;
}

.menu-items button {
    border: none;
    padding: 5px 10px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.menu-container {
    position: relative;
    display: inline-block;
}