.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 10px;
    width: calc(100%);
    height: calc(100%);
    background-color: #fff;
}

.card-header {
    color: grey;
    padding: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    font-size: large;
}

.card-content {
    padding: 10px;
}

.card-footer {
    padding: 10px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.toggle-button {
    border: none;
    color: grey;
    background-color: transparent;
    font-size: small;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.completed-button {
    font-size: large;
    color: grey;
    margin-right: 140px;
}

.dynamic-card {
    width: 100%;
    height: auto;
    max-width: 500px;
    margin: 0 auto;
}

.round-checkbox {
    font-size: medium;
    color: grey;
}

.list-container {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.check {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.mat-radio-button {
    flex: 1;
}

.delete-button {
    margin-left: 10px;
    border: none;
    background-color: transparent;
    font-size: large;
    display: flex;
    align-items: center;
}

.mat-icon {
    font-size: 24px;
}

.list {
    padding-left: 0px;
}

.main-board {
    color: #aaaaaa;
}

.cards-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    flex-direction: row;
}

.cards-container mat-card {
    width: 300px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.checkbox-container {
    display: flex;
    align-items: center;
}

.add_Task {
    width: 90%;
    box-sizing: border-box;
    padding: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    margin-top: 5px;
    margin-left: 10px;
    appearance: none;
    font: large;
    outline: none;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.textarea {
    width: 200px;
    height: 50px;
}

.add-action {
    margin-top: 20px;
}

.add-button {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    color: grey;
}

.add-icon {
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    color: grey;
}

mat-icon {
    margin-right: 8px;
    color: grey;
}

.active-button {
    color: rgb(63, 63, 209);
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
}

.add-todo {
    border-radius: 50%;
    border-color: white;
    padding: 0px;
    margin: 0px;
    text-align: center;
    background-color: rgb(129, 129, 214);
}

.add-todo-action {
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: space-between;
}

.add-todo-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
}