<div class="add-todo-action">
    <h2 class="main-board">Main Board</h2>
    <div class="add-todo-text">
        <div *ngIf="addTodoText">
            <input type="text" class="add_Task" [(ngModel)]="addedTodo" (keyup.enter)="onEnterTodo()">
        </div>
        <button class="add-todo" (click)="addTodo()"><mat-icon class="add-todo-icon">add</mat-icon></button>
    </div>
</div>
<div class="cards-container">
    <div *ngFor="let todoKey of todos">
        <mat-card>
            <div class="card">
                <div class="card-header">
                    <div class="ellipse">
                        <div *ngIf="!isEditLabel.includes(todoKey['taskId'])">
                            {{todoKey.taskLabel}}
                        </div>
                        <div *ngIf="isEditLabel.includes(todoKey['taskId'])">
                            <input type="text" class="edit_Task" [(ngModel)]="todoLabelName"
                                (keyup.enter)="onEnterTableLabel(todoKey['taskId'])">
                        </div>
                        <div class="ellipse-card">
                            <div class="menu-container">
                                <button class="ellipse-button" (click)="ellipseMenu(todoKey['taskId'])"><mat-icon
                                        class="vertical-ellipse-button">more_vert</mat-icon></button>
                                <div class="menu-items" *ngIf="isMenuOpen==todoKey['taskId']">
                                    <button
                                        (click)="menuItemClicked('delete', todoKey['taskId'])"><mat-icon>delete</mat-icon>Delete</button>
                                    <button
                                        (click)="menuItemClicked('edit',todoKey['taskId'])"><mat-icon>edit</mat-icon>Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="add-action">
                        <button [ngClass]="isAddTask.includes(todoKey['taskId']) ? 'active-button' : 'add-button'"
                            (click)="addTask(todoKey['taskId'])"><mat-icon
                                [ngClass]="isAddTask.includes(todoKey['taskId']) ? 'active-button' : 'add-icon'">add</mat-icon>Add
                            Task</button>
                    </div>
                    <div *ngIf="isAddTask.includes(todoKey['taskId'])">
                        <input type="text" class="add_Task" [(ngModel)]="addedTask"
                            (keyup.enter)="onEnter(todoKey['taskId'])">
                    </div>
                </div>
                <div class="card-content">
                    <div *ngFor="let task of todoKey.incompleted" class="check">
                        <mat-radio-button (click)="onCheckboxClick(todoKey['taskId'],task.id)"
                            class="round-checkbox">{{task.name}}</mat-radio-button>
                    </div>
                </div>
                <div class="card-footer">
                    <div *ngIf="todoKey.completed.length===0">
                        <span class="completed-button">Completed</span>
                    </div>
                    <div *ngIf="todoKey.completed.length!=0" class="list-container">
                        <span class="completed-button">Completed({{todoKey.completed.length}})</span>
                        <button class="toggle-button" type="button" (click)="toggleList(todoKey['taskId'])"
                            [textContent]="isListOpen.includes(todoKey['taskId']) ? 'Λ' : 'V'"></button>
                    </div>
                    <ul *ngIf="isListOpen.includes(todoKey['taskId'])" class="list">
                        <li *ngFor="let task of todoKey.completed" class="check">
                            <mat-radio-button class="round-checkbox">{{task.name}}</mat-radio-button>
                            <button class="delete-button" type="button"
                                (click)="deleteCompleteList(todoKey['taskId'],task.id)"><mat-icon>delete</mat-icon></button>
                        </li>
                    </ul>
                </div>
            </div>
        </mat-card>
    </div>
</div>