.header {
    overflow-x: hidden
}

.example-spacer {
    flex: 2 1 auto;
}

.mat-toolbar-dark {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    color: white;
}

.mat-toolbar-light {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    color: rgb(23, 138, 138);
}

.menu-items {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 8px;
}

.menu-items button {
    border: none;
    padding: 5px 10px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.menu-container {
    position: relative;
    display: inline-block;
}

/* Dark mode toggle */

.label_toggle {
    margin-right: 50px;
    width: 50px;
    height: 20px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.label_toggle:after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.input_toggle {
    width: 0;
    height: 0;
    visibility: hidden;
}

.input_toggle:checked+.label_toggle {
    background: #242424;
}

.input_toggle:checked+.label_toggle:after {
    left: 50px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

.label_toggle,
.label_toggle:after {
    transition: 0.3s
}

.label_toggle:active:after {
    width: 50px;
}

.label_toggle svg {
    position: absolute;
    width: 13px;
    top: 3px;
    z-index: 100;
}

.label_toggle svg.sun {
    left: 3px;
    fill: #fff;
    transition: 0.3s;
}

.label_toggle svg.moon {
    left: 33px;
    fill: #7e7e7e;
    transition: 0.3s;
}

.input_toggle:checked+.label_toggle svg.sun {
    fill: #7e7e7e;
}

.input_toggle:checked+.label_toggle svg.moon {
    fill: #fff;
}

/* Profile Icon */

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 100px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-options {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.profile-options ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.profile-options li {
    padding: 10px;
}

.profile-options a {
    text-decoration: none;
    color: #333;
    display: block;
}

.profile-options a:hover {
    background-color: #f0f0f0;
}