<div class="progress-spinner" *ngIf="showLoader">
    <p-progressSpinner class="p-progress-spinner-circle" ariaLabel="loading" strokeWidth="3"
        animationDuration="1s"></p-progressSpinner>
</div>
<div class="modal" [ngStyle]="{'display':display}" id="myModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true" [ngClass]="{'blur-background': display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="popUpHeader">
                    <div></div>
                    <span class="popup-header-span">Tasks Account</span>
                    <i class="pi pi-times" (click)="closePopup()"></i>
                </div>
                <div class="popup-des">
                    <span class="popup-prof-pic">Profile picture</span>
                    <span class="popup-prof-des">A picture helps people to recognise you and lets you know when you’re
                        signed in to your account
                    </span>
                </div>
                <img *ngIf="!photoURL || photoURL===null || photoURL===''" (click)="file.click()"
                    class="profile-img-popup-icon" src="assets/profile.svg">
                <img class="profile-img-popup" (click)="file.click()"
                    *ngIf="photoURL && photoURL!==null && photoURL!==''" [src]="photoURL" alt="Profile Icon">
                <input type="file" accept="image/*" #file (change)="onFileSelected($event)" id="fileInput"
                    style="display: none">

                <div class="btnPopup">

                    <div type="button" class="changeBtn" (click)="file.click()">
                        <i class="pi pi-pencil"></i>
                        Change
                    </div>
                    <div type="button" class="removeBtn" (click)="removeImage()">
                        <i class="pi pi-trash"></i>
                        Remove
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div *ngIf="userCache" [ngClass]="mode ? 'main-header-dark' : 'main-header'">
    <div [ngClass]="mode ? 'header-dark': 'header'">
        <div>
            <i class="pi pi-th-large"></i>
            <span class="ml-2 tasksBoard">TasksBoard</span>
        </div>

        <div>
            <span class="p-input-icon-left searchIconBox">
                <i class="pi pi-search searchIcon"></i>
                <input class="search" type="text" pInputText placeholder="Search" [(ngModel)]="searchValue"
                    (input)="onEnterSearch()" />
            </span>
        </div>

        <div class="profile">
            <i *ngIf="!mode" class="pi pi-sun modeIcon" (click)="darkMode()"></i>
            <i *ngIf="mode" class="pi pi-moon modeIcon" (click)="darkMode()"></i>

            <p-overlayPanel #op2>
                <div class="overlayDialog">
                    <div class="overlay-content">
                        <span class="emailPhoneLabel" *ngIf="userCache['email']!=null">{{userCache['email']}}</span>
                        <span class="emailPhoneLabel"
                            *ngIf="userCache['phoneNumber']!=null">{{userCache['phoneNumber']}}</span>
                        <div class="profile-img-container">
                            <img *ngIf="!photoURL || photoURL===null || photoURL===''" class="profile-img-popover-icon"
                                src="assets/profile.svg">
                            <img *ngIf="photoURL && photoURL!==null && photoURL!==''" class="profile-img-popover"
                                [src]="photoURL" alt="Profile Icon">
                            <i [ngClass]="photoURL && photoURL!==null && photoURL!=='' ? 'pi pi-pencil icon-popover' : 'pi pi-pencil icon-popover icon-popover-icon'"
                                data-toggle="modal" (click)="openModal()" (click)="op2.toggle($event)"
                                data-target="#myModal"></i>
                        </div>
                    </div>
                    <div class="displayName">
                        <span>Hi, {{displayName}}!</span>
                    </div>
                    <div class="actions mt-3">
                        <span class="menu-items" (click)="switchAccount()" (click)="op2.toggle($event)">
                            <i class="pi pi-user mr-2"></i>
                            Switch Account</span>
                        <span class="menu-items" (click)="logout()" (click)="op2.toggle($event)">
                            <i class="pi pi-sign-out mr-2"></i>
                            Sign Out</span>
                    </div>
                </div>
            </p-overlayPanel>
            <i *ngIf="!photoURL || photoURL===null || photoURL===''" (click)="op2.toggle($event)"
                class="pi pi-user mr-2"></i>
            <img *ngIf="photoURL && photoURL!==null && photoURL!==''" class="profile-img" (click)="op2.toggle($event)"
                [src]="photoURL" alt="Profile Icon">

        </div>
    </div>
</div>

<div [ngClass]="mode ? 'main-card-dark': 'main-card'">

    <div class="add-todo-action">
        <span *ngIf="!editMainBoard && mainBoard!=''"
            [ngClass]="mode ? 'main-board-dark' : 'main-board'">{{mainBoard}}</span>
        <input #mainBoardRef *ngIf="editMainBoard" type="text" class="edit_board" [(ngModel)]="mainBoardName"
            (keyup.enter)="onEnterMainBoard()">
        <div class="add-todo-text">
            <p-overlayPanel #op1>
                <span class="menu-items overlayDialog" (click)="editBoard()" (click)="op1.toggle($event)">
                    <i class="pi pi-pencil"></i>
                    Edit Board</span>
            </p-overlayPanel>
            <i (click)="op1.toggle($event)" class="pi pi-ellipsis-v" [ngClass]="mode ? 'ellipse-dark':'ellipse'"></i>
        </div>
    </div>

    <div class="cards-container">
        <div *ngFor="let task of tasks" class="first">
            <div *ngIf="!task['deleted']">

                <div class="card">

                    <div class="ellipse">
                        <label class="taskLabel" *ngIf="editTaskLabel!=task['id']">
                            {{task.name}}
                        </label>

                        <input #inputCardLabelRef *ngIf="editTaskLabel===task['id']" type="text" class="edit_Task"
                            [(ngModel)]="taskLabelName" (keyup.enter)="onEnterCardLabel(task['id'])">

                        <div class="ellipse-card">
                            <p-overlayPanel #op>
                                <div class="overlayDialog">
                                    <span class="menu-items mb-2"
                                        (click)="menuItemClicked('delete', task['id'], task['name'])"
                                        (click)="op.toggle($event)">
                                        <i class="pi pi-trash"></i>
                                        Delete</span>
                                    <span class="menu-items" (click)="menuItemClicked('edit',task['id'], task['name'])"
                                        (click)="op.toggle($event)">
                                        <i class="pi pi-file-edit"></i>
                                        Edit</span>
                                </div>
                            </p-overlayPanel>

                            <i (click)="op.toggle($event)" class="pi pi-ellipsis-v" style="color: #495057"></i>
                        </div>
                    </div>

                    <div (mouseover)="hoverOnAddTaskMtd(task)" (mouseout)="hoverOnAddTaskMtd1(task)"
                        class="mb-2 add-button" (click)="addTodo(task['id'])">
                        <i [ngClass]="task['sty'] ? 'add-icon-hover':'add-icon'" class="pi pi-plus"></i>
                        Add a task
                    </div>

                    <div class="todoIncompleted">
                        <input *ngIf="isAddTodo===task['id']" placeholder="Title" type="text" class="add_Todo"
                            [(ngModel)]="addedTodo" (keyup.enter)="onEnterTodo(task['id'])">
                        <div *ngFor="let todo of todos" class="field-checkbox">

                            <div class="checkIncompleted" (mouseover)="checkHover=todo.todoId"
                                (mouseout)="checkHover=false"
                                *ngIf="!todo['deleted'] && !todo['completed'] && todo['id']===task['id']">
                                <i [ngClass]="checkHover == todo.todoId ? 'pi pi-check checkHoverIcon': 'pi pi-circle checkboxHoverIcon'"
                                    (click)="onCheckboxClick(todo)"></i>
                                <label [for]="todo.key" class="ml-2 mb-0">{{ todo.name }}</label>
                            </div>

                        </div>
                    </div>

                    <div *ngIf="completedTodosCountObj && !completedTodosCountObj.hasOwnProperty(task['id'])">
                        <span class="completed-button completed-button-mt">Completed</span>
                    </div>
                    <div *ngIf="completedTodosCountObj && completedTodosCountObj[task['id']] && completedTodosCountObj[task['id']]!=0"
                        [ngClass]="!isCompletedListOpen.includes(task['id'])?'list-container':'list-container list-container-mb'">
                        <span class="completed-button">Completed ({{completedTodosCountObj[task['id']]}})</span>
                        <i *ngIf="isCompletedListOpen.includes(task['id'])" class="pi pi-angle-up completed-button"
                            (click)="toggleForCompletedList(task['id'])"></i>
                        <i *ngIf="!isCompletedListOpen.includes(task['id'])" class="pi pi-angle-down completed-button"
                            (click)="toggleForCompletedList(task['id'])"></i>
                    </div>

                    <div class="todoCompleted" *ngIf="isCompletedListOpen.includes(task['id'])">
                        <div *ngFor="let todo of todos" class="field-checkbox">

                            <div class="check" (mouseover)="checkedHover=todo.todoId" (mouseout)="checkedHover=false"
                                *ngIf="!todo['deleted'] && todo['completed'] && todo['id']===task['id']">
                                <div class="check-icon">
                                    <i class="pi pi-check checkedCompleted"></i>
                                    <label class="ml-2 mb-0">{{ todo.name }}</label>
                                </div>

                                <i *ngIf="checkedHover == todo.todoId" class="pi pi-trash trashChecked"
                                    (click)="deleteCompleteList(todo)"></i>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div [ngClass]="mode ? 'add-new-todo-card-dark': 'add-new-todo-card'">
            <p (click)="addTasksIcon()" *ngIf="!addTasksInput" class="list-label"><i class="pi pi-plus"
                    style="font-size: 0.6rem; color: rgb(115, 121, 125);"></i>
                Add new list</p>
            <div *ngIf="addTasksInput" class="custom-input-container">
                <span class="p-input-icon-right">
                    <i class="pi pi-plus plusIcon" (click)="plusIconBtn()"></i>
                    <input type="text" class="add_Task" pInputText placeholder="New Task" [(ngModel)]="addedTask"
                        (keyup.enter)="onEnterTask()">
                </span>
            </div>
        </div>
    </div>

</div>