<div *ngIf="user" [ngClass]="mode ? 'main-header-dark' : 'main-header'">
    <div [ngClass]="mode ? 'header-dark': 'header'">
        <div>
            <i class="pi pi-th-large"></i>
            <span class="ml-2 tasksBoard">TasksBoard</span>
        </div>

        <div>
            <span class="p-input-icon-left searchIconBox">
                <i class="pi pi-search searchIcon"></i>
                <input class="search" type="text" pInputText placeholder="Search" [(ngModel)]="searchValue"
                    (input)="onEnterSearch()" />
            </span>
        </div>

        <div class="profile">
            <i *ngIf="!mode" class="pi pi-sun modeIcon" (click)="darkMode()"></i>
            <i *ngIf="mode" class="pi pi-moon modeIcon" (click)="darkMode()"></i>

            <p-overlayPanel #op2>
                <span class="menu-items" (click)="logout()">
                    <i class="pi pi-sign-out mr-3"></i>
                    Sign Out</span>
                <span class="menu-items" (click)="switchAccount()">
                    <i class="pi pi-user mr-3"></i>
                    Switch Account</span>
            </p-overlayPanel>

            <i *ngIf="photoURL==null" (click)="op2.toggle($event)" class="pi pi-user"></i>
            <img *ngIf="photoURL!=null && user" class="profile-img" (click)="op2.toggle($event)" [src]="photoURL"
                alt="Profile Icon">
        </div>
    </div>
</div>

<div [ngClass]="mode ? 'main-card-dark': 'main-card'">

    <div class="add-todo-action">
        <span *ngIf="!editMainBoard && mainBoard!=''"
            [ngClass]="mode ? 'main-board-dark' : 'main-board'">{{mainBoard}}</span>
        <div *ngIf="editMainBoard">
            <input type="text" pInputText class="edit_Task" [(ngModel)]="mainBoardName"
                (keyup.enter)="onEnterMainBoard()">
        </div>
        <div class="add-todo-text">
            <p-overlayPanel #op1>
                <span class="menu-items" (click)="editBoard()">
                    <i class="pi pi-pencil"></i>
                    Edit Board</span>
            </p-overlayPanel>
            <i (click)="op1.toggle($event)" class="pi pi-ellipsis-v" [ngClass]="mode ? 'ellipse-dark':'ellipse'"></i>
        </div>
    </div>

    <div class="cards-container">
        <div *ngFor="let task of tasks" class="first">
            <div *ngIf="!task['deleted']">

                <div class="card">

                    <div class="ellipse">
                        <label class="taskLabel" *ngIf="editTaskLabel!=task['id']">
                            {{task.name}}
                        </label>

                        <div *ngIf="editTaskLabel===task['id']">
                            <input type="text" pInputText class="edit_Task" [(ngModel)]="taskLabelName"
                                (keyup.enter)="onEnterCardLabel(task['id'])">
                        </div>

                        <div class="ellipse-card">
                            <p-overlayPanel #op>
                                <span class="menu-items" (click)="menuItemClicked('delete', task)">
                                    <i class="pi pi-trash"></i>
                                    Delete</span>
                                <span class="menu-items" (click)="menuItemClicked('edit',task)">
                                    <i class="pi pi-file-edit"></i>
                                    Edit</span>
                            </p-overlayPanel>

                            <i (click)="op.toggle($event)" class="pi pi-ellipsis-v" style="color: #495057"></i>
                        </div>
                    </div>

                    <div (mouseover)="hoverOnAddTaskMtd(task)" (mouseout)="hoverOnAddTaskMtd1(task)"
                        class="mb-2 add-button" (click)="addTodo(task['id'])">
                        <i [ngClass]="task['sty'] ? 'add-icon-hover':'add-icon'" class="pi pi-plus"></i>
                        Add Task
                    </div>

                    <div class="todoIncompleted">
                        <input *ngIf="isAddTodo===task['id']" type="text" class="add_Todo" [(ngModel)]="addedTodo"
                            pInputText (keyup.enter)="onEnterTodo(task['id'])">
                        <div *ngFor="let todo of todos" class="field-checkbox">

                            <div class="checkIncompleted" (mouseover)="checkHover=todo.todoId"
                                (mouseout)="checkHover=false"
                                *ngIf="!todo['deleted'] && !todo['completed'] && todo['id']===task['id']">
                                <i [ngClass]="checkHover == todo.todoId ? 'pi pi-check checkHoverIcon': 'pi pi-circle checkboxHoverIcon'"
                                    (click)="onCheckboxClick(todo)"></i>
                                <label [for]="todo.key" class="ml-2 mb-0">{{ todo.name }}</label>
                            </div>

                        </div>
                    </div>


                    <div *ngIf="completedTodosCountObj && !completedTodosCountObj.hasOwnProperty(task['id'])">
                        <span class="completed-button">Completed</span>
                    </div>
                    <div *ngIf="completedTodosCountObj && completedTodosCountObj[task['id']] && completedTodosCountObj[task['id']]!=0"
                        class="list-container">
                        <span class="completed-button">Completed({{completedTodosCountObj[task['id']]}})</span>
                        <button class="toggle-button" type="button" (click)="toggleForCompletedList(task['id'])"
                            [textContent]="isCompletedListOpen.includes(task['id']) ? 'Λ' : 'V'"></button>
                    </div>

                    <div class="todoCompleted" *ngIf="isCompletedListOpen.includes(task['id'])">
                        <div *ngFor="let todo of todos" class="field-checkbox">

                            <div class="check" (mouseover)="checkedHover=todo.todoId" (mouseout)="checkedHover=false"
                                *ngIf="!todo['deleted'] && todo['completed'] && todo['id']===task['id']">
                                <div class="check-icon">
                                    <i class="pi pi-check checkedCompleted"></i>
                                    <label class="ml-2 mb-0">{{ todo.name }}</label>
                                </div>

                                <i *ngIf="checkedHover == todo.todoId" class="pi pi-trash trashChecked"
                                    (click)="deleteCompleteList(todo)"></i>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>

        <div [ngClass]="mode ? 'add-new-todo-card-dark': 'add-new-todo-card'">
            <p (click)="addTasksIcon()" *ngIf="!addTasksInput" class="list-label"><i class="pi pi-plus"
                    style="font-size: 0.6rem; color: rgb(115, 121, 125);"></i>
                Add new list</p>
            <div *ngIf="addTasksInput" class="custom-input-container">
                <span class="p-input-icon-right">
                    <i class="pi pi-plus plusIcon" (click)="plusIconBtn()"></i>
                    <input type="text" class="add_Task" pInputText placeholder="New Task" [(ngModel)]="addedTask"
                        (keyup.enter)="onEnterTask()">
                </span>
            </div>
        </div>
    </div>

</div>