.header {
    padding: 0.5rem;
    background: #fff;
    color: #495057;
    border: 1px solid #dee2e6;
    border-radius: 0 0 8px 8px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-dark {
    padding: 0.5rem;
    background: #6c6c6c;
    color: #fff;
    border: 1px solid #2e2e2e;
    border-radius: 0 0 8px 8px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tasksBoard {
    font-size: large;
}

.taskBoradIcon-dark,
.taskBoradIcon {
    height: 20px;
}

.searchIcon {
    font-size: 14px;
    margin-top: -6px;
}

.modeIcon {
    margin-right: 20px;
    padding: 6px;
    border-radius: 8px;
}

.modeIcon:hover {
    background-color: grey;
    opacity: 0.5;
    transition: 0.3s;
}

.search {
    width: 450px;
    height: 35px;
    background-color: #dee2e6;
    background: rgb(241, 243, 244);
    border: 1px solid transparent;
    border-radius: 8px;
    max-width: -webkit-fill-available;
}

@media (max-width: 430px) {
    .search {
        width: 120px;
    }
}

@media (max-width: 978px) {
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: auto;
    }

    .search {
        height: 35px;
        background-color: #dee2e6;
        background: rgb(241, 243, 244);
        border: 1px solid transparent;
        border-radius: 8px;
        max-width: 250px;
    }
}

.label_toggle {
    margin-right: 25px;
    margin-top: 10px;
    width: 50px;
    height: 20px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.label_toggle:after {
    content: "";
    width: 20px;
    height: 20px;
    top: 0px;
    left: 0px;
    position: absolute;
    background: linear-gradient(180deg, #ffcc89, #d39f51);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.input_toggle {
    width: 0;
    height: 0;
    visibility: hidden;
}

.input_toggle:checked+.label_toggle {
    background: #242424;
}

.input_toggle:checked+.label_toggle:after {
    left: 50px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

.label_toggle,
.label_toggle:after {
    transition: 0.3s
}

.label_toggle:active:after {
    width: 50px;
}

.label_toggle svg {
    position: absolute;
    width: 13px;
    top: 3px;
    z-index: 100;
}

.label_toggle svg.sun {
    left: 3px;
    fill: #fff;
    transition: 0.3s;
}

.label_toggle svg.moon {
    left: 33px;
    fill: #7e7e7e;
    transition: 0.3s;
}

.input_toggle:checked+.label_toggle svg.sun {
    fill: #7e7e7e;
}

.input_toggle:checked+.label_toggle svg.moon {
    fill: #fff;
}

/* Profile Icon */

.profile-img {
    width: 30px;
    height: 30px;
    border-radius: 100px;
}

.profile-img-popover {
    margin: 10% 0 5% 70%;
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.profile-img-popover-icon {
    margin: 10% 0 5% 70%;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    font-size: 5rem;
}

.displayName {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-img-popup {
    margin: 5% 0 8% 14%;
    width: 250px;
    height: 250px;
    border-radius: 150px;
}

.profile-img-popup-icon {
    margin: 5% 0 8% 14%;
    width: 250px;
    height: 250px;
    font-size: 15rem;
    border-radius: 150px;
}

.changeBtn {
    border: solid 1px #242424;
    border-radius: 8px;
    padding: 3% 13% 3% 12%;
}

.removeBtn {
    border: solid 1px #242424;
    border-radius: 8px;
    padding: 3% 13% 3% 12%;
}

.overlay-content {
    max-width: 235px;
}

.profile-img-container {
    position: relative;
    display: inline-block;
}

.profile-img-popover {
    border-radius: 50%;
}

.icon-popover {
    position: absolute;
    bottom: 5px;
    right: -65px;
    background-color: #495057;
    color: white;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.icon-popover-icon {
    bottom: 10px;
    right: -60px;
}

.icon-popover:hover {
    background-color: gray;
}

:host ::ng-deep .p-overlaypanel-content .p-component {
    z-index: 1002;
    transform-origin: center top;
    top: 37.5px;
    left: 1136.2px;
    --overlayArrowLeft: 349px;
    transform: translateY(0px);
    opacity: 1;
    max-width: 280px;
}

.modal-content {
    margin-top: 100px;
    margin-left: 90px;
    max-width: 380px;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
}

.btnPopup {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-options {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.profile-options ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.profile-options li {
    padding: 10px;
}

.profile-options a {
    text-decoration: none;
    color: #333;
    display: block;
}

.profile-options a:hover {
    background-color: #f0f0f0;
}

.bxs-face {
    font-size: xx-large;
}


/* Card */

.custom-input-container {
    display: flex;
    align-items: center;
    height: 50px;
    width: 270px;
}

.custom-input-container input {
    margin-right: 5px;
}

.ellipse {
    color: #495057
}

.ellipse-dark {
    color: #fff
}

.card {
    padding: 10px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    height: auto;
    flex-direction: column;
    flex-shrink: 0;
    width: 270px;
    max-width: 800px;
    max-height: calc(100vh - 114px);
    background: rgb(255, 255, 255);
    box-shadow: rgba(169, 174, 183, 0.5) 0px 1px 2px 0px;
    border-radius: 8px;
    margin: 10px;
    overflow: auto;
    border: solid 1px #fff;
    cursor: default !important;
}

.add-new-todo-card {
    border-radius: 8px;
    margin: 10px;
    display: flex;
    flex-shrink: 0;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 52px;
    height: 45px;
    width: 270px;
    cursor: pointer;
    font-size: 15px;
    line-height: 15px;
    background: rgba(255, 255, 255, 0.5);
    color: rgb(115, 121, 125);
    backdrop-filter: blur(5px);
}

.add-new-todo-card-dark {
    border-radius: 8px;
    margin: 10px;
    display: flex;
    flex-shrink: 0;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-height: 52px;
    height: 45px;
    width: 270px;
    cursor: pointer;
    font-size: 15px;
    line-height: 15px;
    background: #fff;
    color: rgb(115, 121, 125);
    backdrop-filter: blur(5px);
}

.list-label {
    font-size: 14px;
    margin-top: 16px;
    padding: 19px 50px;
}

.main-header-dark {
    background-color: #242424;
}

.main-header {
    background-color: rgb(246, 248, 249);
}

.main-card {
    background-color: rgb(246, 248, 249);
    height: calc(100vh - 45px);
}

.main-card-dark {
    background-color: #242424;
    height: calc(100vh - 45px);
}

:host ::ng-deep .checkbox-icon .p-checkbox .p-checkbox-box {
    border: 2px solid #ced4da;
    background: #ffffff;
    width: 18px;
    height: 18px;
    color: #727272;
    margin-top: 3px;
    border-radius: 10px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.toggle-button {
    border: none;
    color: #727272;
    background-color: transparent;
    font-size: small;
    display: flex;
    align-items: center;
}

.completed-button {
    font-size: 16;
    margin-top: 2px;
    color: #727272;
    margin-right: 140px;
}

.list-container {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
}

.checkHoverIcon {
    font-size: 13px;
    color: rgb(66, 133, 244);
}

.checkboxHoverIcon {
    font-size: 13px;
    color: #727272;
}

.check {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    padding: 6px 3px;
    transition: box-shadow 0.3s, transform 0.3s;
}

.checkedCompleted {
    font-size: 0.8rem;
    color: rgb(66, 133, 244);
    margin-top: 3px;
}

.trashChecked {
    font-size: 14px;
    color: #495057
}

.check:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
}

.check-icon {
    display: flex;
    align-items: center;
}

.checkIncompleted {
    display: flex;
    align-items: center;
    padding: 5px 0;
    transition: box-shadow 0.3s, transform 0.3s;
}

.checkIncompleted:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
}

.cards-container {
    height: calc(100vh - 77px);
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    margin-left: 5px;
}

/* Styles for devices with a maximum width of 576px (phones) */
@media (max-width: 576px) {
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        flex-direction: row;
        overflow-x: auto;
        overflow-y: auto;
    }

    .add-new-todo-card {
        order: 0;
    }

    .first {
        order: 1;
    }

    .search {
        height: 30px;
        background-color: #dee2e6;
        background: rgb(241, 243, 244);
        border: 1px solid transparent;
        border-radius: 8px;
        max-width: 200px;
    }
}

.add_Task {
    height: 50px;
    width: 270px;
    font-size: 14px;
}

.add_Todo {
    margin-bottom: 13px;
    width: 240px;
    height: 30px;
}

.main-board {
    font-size: 18px;
    color: #727272
}

.main-board-dark {
    font-size: 18px;
    color: #fff
}

.todoCompleted {
    overflow: auto;
}

.todoIncompleted {
    overflow: auto;
    margin-bottom: 7px;
}

.add-button:hover {
    color: rgb(66, 133, 244);
}

.add-button {
    color: grey;
}

.add-icon {
    color: rgb(66, 133, 244);
    font-size: 12px;
    padding: 3px;
    margin-right: 8px;
}

.add-icon-hover {
    margin-right: 10px;
    font-size: 10px;
    padding: 3px;
    color: #fff;
    background-color: rgb(66, 133, 244);
    border-radius: 50px;
}

.ellipse-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(66, 133, 244);
    color: #fff;
    border: none;
    cursor: pointer;
}

.add-todo {
    background-color: transparent;
    border: none;
}

.add-todo-icon {
    color: white;
    margin-top: 2px;
    margin-left: 2px;
}

.add-todo-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 15px;
    padding-top: 5px;
}

.add-todo-text {
    margin-right: 10px;
}

.plusIcon {
    font-size: 15px;
    color: rgb(66, 133, 244);
    margin-right: 8px;
    margin-top: -7px;
}

.ellipse {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.check label,
.checkIncompleted label {
    color: #727272;
}

.taskLabel {
    font-size: large;
    color: #727272;
}

.p-card-content {
    padding: 0;
    margin: 0;
}

.menu-items {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #727272;
    font-size: 13px;
    margin-bottom: 5px;
}

.edit_Task {
    height: 30px;
    width: 220px;
    margin-bottom: 8px;
}

.menu-items i {
    margin-right: 3px;
    font-size: 13px;
    color: #727272;
}

.vertical-ellipse-button {
    margin-top: 6px;
    margin-left: 2.5px;
    color: #727272;
    font-size: 20px;
}

.bxs-plus-circle {
    color: #727272;
    font-size: 30px;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

.popUpHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: var(--bs-modal-padding);
}

.popup-header-span {
    color: rgb(95, 99, 104);
    font-family: "Product Sans", Arial, sans-serif;
    font-size: 22px;
    font-weight: normal;
    line-height: 22px;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.popup-prof-des {
    font-family: Roboto, Arial, sans-serif;
    line-height: 1.5rem;
    font-size: .875rem;
    letter-spacing: .0142857143em;
    font-weight: 400;
    color: rgb(95, 99, 104);
}

.popup-prof-pic {
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    line-height: 1.5rem;
    font-size: 1.125rem;
    letter-spacing: 0;
    font-weight: 400;
    color: rgb(95, 99, 104);
    margin: 0 var(--view-h-padding) 10px;
    padding: 4% 0 2% 0;
}

.popup-des {
    display: grid;
}