<div class="container">
    <div class="box">
        <img src="assets/mail.png">
        <span class="title">Check your email</span>
        <span *ngIf="!forgotPassLabel" class="title1">We've sent a verification mail to <strong
                class="bold-email">{{email}}</strong></span>
        <span *ngIf="forgotPassLabel" class="title1">We've sent instructions on how to reset <br> your password to
            <strong class="bold-email">{{email}}</strong></span>
        <span *ngIf="!forgotPassLabel" class="title1">Please go to your mail to verify your email.</span>
        <a class="title2" href="#login">Verified logging in</a>
    </div>
</div>