.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    display: flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-container {
    padding: 40px;
    border-radius: 15px 0 0 15px;
}

.img-container {
    height: 570px;
    width: 400px;
    overflow: hidden;
    border-radius: 0 15px 15px 0;
}

.login-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.log-reg-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.styled-link {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

.styled-link:hover {
    color: #606061;
}