<div class="box">
    <div class="popUpHeader">
        <div></div>
        <i class="pi pi-times" (click)="closePopup()"></i>
    </div>
    <span *ngIf="otpInput" class="title1">Please enter the 6-digit code sent to your phone number </span>
    <span *ngIf="otpInput" class="title1">{{phoneCode}}{{phoneNumber}}</span>
    <span *ngIf="otpInput" class="title1"> for verification.</span>

    <div *ngIf="otpInput" class="otp-input">
        <p-inputOtp [(ngModel)]="otpEntered" [length]="6" [integerOnly]="true" (input)="onInput()"></p-inputOtp>
    </div>
    <span *ngIf="otpInput" class="title1">Didn’t receive any code? </span>
    <span *ngIf="otpInput && !showResendBtn">{{ countdownDisplay }}</span>
    <button *ngIf="otpInput && showResendBtn" (click)="resendBtn()" class="resendBtn">Resend Again</button>
    <input *ngIf="phoneInputFlg" type="text" class="phoneCode" [(ngModel)]="phoneCode">
    <input *ngIf="phoneInputFlg" #phoneNumberRef type="text" class="phoneInput" placeholder="Phone Number"
        (input)="onInputPhone($event)" [(ngModel)]="phoneNumber">

    <span *ngIf="updateInput" class="title1"> First time user? Please update info! </span>

    <input *ngIf="updateInput" type="text" class="InputFirstName" placeholder="Full Name" [(ngModel)]="fullName">
    <input *ngIf="updateInput" type="text" class="Inputs" placeholder="User Name" [(ngModel)]="userName">

    <div *ngIf="otpRecaptcha" id="recaptcha-container"></div>
    <button *ngIf="phoneInputFlg" class="sendOtpBtn" [disabled]="btnDis" (click)="sendOtp()">Send OTP</button>
    <button *ngIf="updateInput" class="updateBtn" (click)="updateData()">Update</button>
</div>