:host,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    flex-shrink: 0;
    text-decoration: none;
    min-width: 0;
    overflow-wrap: anywhere;
}

:host,
:not(span, a, ul, ol, li, p) {
    display: flex;
}

ul,
ol {
    text-indent: 0;
    padding-inline-start: 1.5em;
}

p:empty::before {
    content: '';
    display: inline-block;
}

img {
    object-fit: contain;
}

svg {
    overflow: visible;
}

:host {
    position: relative;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    background-color: #ebefff;
    overflow: hidden;
}

.rectangle1 {
    position: absolute;
    left: 842px;
    top: 0;
    width: 525px;
    height: 720px;
    background-color: #afb3ff;
}

.socialMediaIcons {
    position: absolute;
    left: 256px;
    top: 530px;
    width: 40px;
    height: 35px;
    overflow: visible;
}

.icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rectangle2 {
    position: absolute;
    left: 122px;
    top: 250px;
    width: 367px;
    height: 34px;
    padding-left: 1%;
    outline: solid 1px #656ed3;
    outline-offset: -1px;
    border-radius: 50px;
    background-color: #afb3ff00;
}

.passwordIcon {
    position: absolute;
    left: 335px;
    top: 9px;
}

.rectangle3 {
    position: absolute;
    left: 122px;
    top: 326px;
    width: 367px;
    height: 34px;
    padding-left: 1%;
    outline: solid 1px #656ed3;
    outline-offset: -1px;
    border-radius: 50px;
    background-color: #afb3ff00;
}

.username {
    color: #000;
    font-size: 16px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
    position: absolute;
    left: 122px;
    top: 220px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}

.dontHaveAndAccountRegister1 {
    position: absolute;
    left: 134px;
    top: 379px;
    width: max-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}

.rememberMe {
    margin-left: 6%;
}

.dontHaveAndAccountRegister {
    position: absolute;
    left: 188px;
    top: 480px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}

.labelWrapper {
    font-size: 16px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
    flex-shrink: 1;
}

.label {
    color: #000;
    font-size: 16px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
}

.label2 {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
}

.forgotPassword {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    margin-left: 30%;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
}

.welcomeBack {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: bold;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
    position: absolute;
    left: 240px;
    top: 177px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}

.rectangle4 {
    position: absolute;
    left: 124px;
    top: 420px;
    width: 365px;
    height: 34px;
    border-radius: 50px;
    background-color: #656ed3;
}

.login {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
    position: absolute;
    left: 285px;
    top: 424px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}

.password {
    color: #000;
    font-size: 16px;
    font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif;
    position: absolute;
    left: 124px;
    top: 296px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}

.rectangle5 {
    transform-origin: top left;
    position: absolute;
    left: -287px;
    top: 912.3164px;
    width: 596.734px;
    height: 141.396px;
    border-radius: 105.5304px;
    background-color: #838cf1;
    transform: matrix(0.7535, -0.6574, 0.6574, 0.7535, 0, 0);
}

.rectangle6 {
    transform-origin: top left;
    position: absolute;
    left: -252px;
    top: 895.0518px;
    width: 553.7418px;
    height: 131.209px;
    border-radius: 105.5304px;
    background-color: #afb3ff;
    transform: matrix(0.7535, -0.6574, 0.6574, 0.7535, 0, 0);
}

.pc-login {
    position: absolute;
    left: 565px;
    top: -37px;
    width: 600px;
    height: 590px;
    flex-direction: column;
    align-items: flex-start;
    right: 0;
    background-image: url('/assets/pc-login.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}