<div class="rectangle1"></div>
<div class="pc-login"></div>
<div class="welcomeBack">Welcome Back!</div>
<form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">

    <label for="exampleInputEmail" class="username">Email:</label>
    <input type="email" class="rectangle2" id="exampleInputEmail" placeholder="Email" name="email"
        aria-describedby="emailHelp" ngModel required>
    <label for="exampleInputPassword" class="password">Password:</label>
    <div class="rectangle3">
        <input class="passwordInput" type="password" id="exampleInputPassword" placeholder="Password" id="password"
            name="password" ngModel required>
        <div class="passwordIcon">
            <i *ngIf="passwordToggle" class='bx bx-show' (click)="togglePasswordVisibility()"></i>
            <i *ngIf="!passwordToggle" class='bx bx-hide' (click)="togglePasswordVisibility()"></i>
        </div>
    </div>

    <div class="dontHaveAndAccountRegister1">
        <div class="labelWrapper1">
            <div>
                <p-checkbox size="small" value="true" id="rememberMe" name="rememberMe"
                    (click)="rememberMeBtn(rememberMe)" label="Remember Me" [(ngModel)]="rememberMe"></p-checkbox>
            </div>
            <a href="#forgot-password" class="forgotPassword">Forgot Password</a>
        </div>
    </div>

    <div class="dontHaveAndAccountRegister">
        <p class="labelWrapper">
            <span class="label">Dont have and account? </span>
            <a href="#register" class="label2">Register</a>
        </p>
    </div>
    <button class="btn" type="submit">Login</button>

    <div class="socialMediaIcons">
        <a (click)="signInWithGoogle()">
            <img src="assets/google.svg" alt="" class="icon">
        </a>
        <a (click)="signInWithGithub()">
            <img src="assets/github.svg" alt="" class="icon">
        </a>
        <i class="pi pi-phone phoneIcon" data-toggle="modal" (click)="openModal()" data-target="#myPhoneModal"></i>
    </div>

</form>

<div class="rectangle5"></div>
<div class="rectangle6"></div>
<div class="modal" [ngStyle]="{'display':displayPhoneModal}" id="myPhoneModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true" [ngClass]="{'blur-background': displayPhoneModal}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <app-phone-auth (closeModal)="closeModal()"></app-phone-auth>
            </div>
        </div>
    </div>
</div>