<form #registerationForm="ngForm" (ngSubmit)="register(registerationForm.value)">
    <div class="mb-3">
        <label for="exampleInputFirstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="exampleInputFirstName" placeholder="First Name" name="firstName"
            aria-describedby="firstName" ngModel>
    </div>
    <div class="mb-3">
        <label for="exampleInputLastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="exampleInputLastName" placeholder="Last Name" name="lastName"
            aria-describedby="lastName" ngModel>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email" name="email"
            aria-describedby="emailHelp" ngModel>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password" name="password"
            ngModel>
    </div>
    <div class="mb-3 btns">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>